<app-route-header name="My Designs" (onAdd)="addDesign()"></app-route-header>
<div class="plr--80 pt--100 size-h--calc-105 overflow--auto">
    <!--No Designs-->
    <div *ngIf="sharedService.designs.length == 0" class="no-designs">
        <div>
            <div class="no-designs-bucket text--center flex--column">
                <span class="icon">
                    <img class="size-h--150" src="../../../../assets/images/shirt.png" />
                </span>
                <span class="text-weight--200 text-color--header text-size--26 mt--30 mb--10">Create your first design</span>
                <p class="no-designs-content text-color--content text-size--13 lh--26">
                    Upload a design and bring your products to life. 
                    The design will create shit loads of t-shirts 
                    and variations and upload them to Amazon.</p>
                    <div class="actions mt--25">
                        <span class="button primary" (click)="addDesign()">Create a Design</span>
                    </div>
                </div>
            </div>
        </div>
        <!--Designs-->
        <div class="flex flex-wrap" *ngIf="sharedService.designs.length > 0">
            <div class="design bg--white" *ngFor="let design of sharedService.designs">
                <div class="design-cover">
                    <img class="size-h--200 size-w--200" [src]="design.image" onError="this.src='assets/images/blank.png';"/>
                </div>
                <div class="design-meta size-w--full pa--10 relative">
                    <span class="design-meta-delete absolute pointer" (click)="openConfirmationModal(design.sku)">
                        <svg style="width: 20px;height: 20px;" viewBox="0 0 24 24">
                            <path fill="#757b8b" d="M19,4H15.5L14.5,3H9.5L8.5,4H5V6H19M6,19A2,2 0 0,0 8,21H16A2,2 0 0,0 18,19V7H6V19Z"></path>
                        </svg>
                    </span>
                    <span class="design-meta-title">{{design.title}}</span>
                    <span class="design-meta-subtitle">{{design.sku}}</span>
                </div>
            </div>
        </div>
        <app-modal [modalTitle]="'create new design'" [blocking]='false' [modalId]='modalId'></app-modal>
        <app-confirmation-modal [entity]="'Design'" (notify)="deleteDesign($event)" [modalId]='confirmationModalId'></app-confirmation-modal>
    </div>