<app-route-header name="My Designs" (onAdd)="addDesign()"></app-route-header>
<div class="mlr--100 size-h--calc-150">
    <!--No Designs-->
    <div class="no-designs">
        <div>
            <div class="no-designs-bucket text--center flex--column">
                <span class="icon">
                    <img class="size-h--150" src="../../../../assets/images/shirt.png" />
                </span>
                <span class="text-weight--200 text-color--header text-size--26 mt--30 mb--10">Create your first design</span>
                <p class="no-designs-content text-color--content text-size--13 lh--26">
                    Upload a design and bring your products to life. 
                    The design will create shit loads of t-shirts 
                    and variations and upload them to Amazon.</p>
                <div class="actions mt--25">
                    <span class="button primary" (click)="addDesign()">Create a Design</span>
                </div>
            </div>
        </div>
    </div>
    <!--Designs-->
    <div>

    </div>
</div>