<div [ngClass]="{'closed': !isOpen}">
  <div class="modal-overlay" (click)="close(true)"></div>
  
  <div class="modal">
    <a class="modal-close" (click)="close(true)">ESC</a>
    <div class="modal-title" *ngIf="modalTitle">
      <span class="modal-title-text">{{ modalTitle }}</span>
    </div>
    
    <div class="modal-body">
        <div class="modal-body-content">Fill all fields to upload new design</div>
        <app-design-form #modalForm class="modal-form"></app-design-form>
    </div>
  </div>
</div>