$cs-01: #1f2532; // dark-blue
$cs-02: #ef2175; // pink-orange
$cs-03: #11b683; // bright-green
$cs-04: #6f737e; // gray
$cs-05: #F9F9F9; // light-gray
$cs-06: #c8cfd7; // gray
$cs-07: #47c71a; // green
$cs-08: #9aa5b7; // light gray-blue
$cs-09: #a3acbc; // gray font
$cs-10: #cfd5e1; // gray border
$cs-11: #eaeaea; // background unaoth color
$cs-12: #e3e3e3; // content unaoth color
$cs-13: #cdcbcb; // border unaoth color
$cs-13: #ffa402; // orange

$cs-header: #3A4253; //headers
$cs-content: #596377; //body

$cs-white: #fff;
$cs-black: #000;

$sceen-max-width: 1366px; //MAXIMUM SCREEN WIDTH
$screen-min-width: 600px;
//AMDOCS COLORS
//25, 50, 75,100

$cs-purple: rgba(48,46,69,1);
$cs-purple-comp: #757b8c;
$cs-purple-comp2: #D3D8E0;
$cs-coolgrey: rgba(223,225,223,1);
$cs-magenta: rgba(236,0,140,1);
$cs-coral: rgba(242,102,95,1);
$cs-orage: rgba(253,181,21,1);
