<div [ngClass]="{'closed': !isOpen}">
  <div class="notifications-overlay" (click)="close()">
    <div class="notifications-close" (click)="close()">
      <div class="notifications-icon-close"></div>
      <span>esc</span>
    </div>
    <div class="notifications-panel size-h--max" click-stop-propagation>
      <header class="notifications-header">
        <h2>
          My Notifications
        </h2>
      </header>          
      <div class="notifications-wrapper">
        <div class="notifications-empty" *ngIf="notifications.length == 0">
          <span class="notifications-icon"></span>
        </div>
        <div class="notifications flex--column--reverse mt--10" *ngIf="notifications.length > 0">
          <div class="notification" *ngFor="let notification of notifications">
            <div class="notification-status" [ngClass]="{ 'notification-status--error': notification.status == 'error', 'notification-status--success': notification.status == 'success' }"></div>
            <div class="notification-header">
              <span *ngIf="notification.status == 'pending'">Design {{notification.guid}} is pending</span>
              <span *ngIf="notification.status == 'uploading'">Design {{notification.guid}} is uploading</span>
              <span *ngIf="notification.status == 'success'">Design {{notification.guid}} was uploaded</span>
              <span *ngIf="notification.status == 'error'">Design {{notification.guid}} upload failed</span>
            </div>
            <div class="notification-content">
              <span *ngIf="notification.status == 'pending' || notification.status == 'error'" class="notification-body">{{notification.message}}</span>
              <span *ngIf="notification.status != 'pending' && notification.status != 'error'" class="notification-body">Uploaded {{notification.totalVariantsUploaded}} of {{notification.totalVariants}} variants</span>
              <app-saving-dots *ngIf="notification.status != 'success' && notification.status != 'error'"></app-saving-dots>
              <div *ngIf="notification.status == 'uploading'" class="notification-progress">
                <div [style.width.%]="notification.progress" class="notification-progress-body"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
