@import '../styles/app.scss';

.navbar {
    padding-bottom: 152px;
}

.navbar-content-group {

    .navbar-item{

        color:$cs-purple-comp;

        svg {
            path{
                fill:$cs-purple-comp;
            }
        }

        &:hover{
            color:$cs-purple-comp2;

            svg {
                path{
                    fill:$cs-purple-comp2;
                }
            }
        }
    }
}